.result {
    display: flex;
    align-items: center;
    justify-content: center;
}

.result-img {
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.result-img .input-img {
    width: 12vw;
}